.card {
    width: 170px;
    border: 2px solid #d3d3d3;
    height: 170px;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

img {
    width: 50px;
    margin: auto;
}

.icon {
    margin: auto;
    font-size: 20px;
    align-items: center;
    padding-top: 6px;
    justify-content: center;
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}

.add {
    text-align: center;
    width: 25px;
    cursor: cell;
    height: 25px;
    padding: 0px;
    position: absolute;
    border-color: none;
}