.login-container {
  margin-top: .01in;
  
}

h1{
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: .03cm;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

input {
  border: 1px solid #ccc;
  padding: 0.4rem;
  font-size: 1rem;
  margin-top: 0.4rem;
  border-radius: 4px;
}

button {
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #0077cc;
}
.login-button{
  float: right;
}
.login-button:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
}