.my-coins-container {
  margin: auto;
  display: flex;
  max-width: 1240px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 170px;
  border: 1px solid #d3d3d3;
  height: 170px;
  margin: 0.4rem;
  display: flex;
  padding: 12px 22px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.top {
  display: flex;
  flex-direction: column;
}

img {
  width: 50px;
  margin: auto;
  padding: 0.2rem 0;
}

.icon {
  margin: auto;
  font-size: 20px;
  align-items: center;
  padding-top: 6px;
  justify-content: center;
}

.span {
  font-size: 22px;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}