.container {
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    padding: 1rem;
    z-index: 100;
    position: sticky;
    align-items: center;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    background-color: #eee;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu a {
    font-size: 1rem;
    font-weight: 600;
}